.WL-green-button {
    border: none;
    background-color: #175642;
    outline: none;
    font-size: 15px;
    line-height: 34px;
    color: #fff;
    cursor: pointer;
    padding: 1px 17px;
}

.WL-field p {
    display: inline-block;
    margin-right: 20px;
}

/*WL MetaBox fields BEGIN*/
label.WL-field {
    min-width: 160px;
    display: inline-block;
    font-size: 14px;
}
/*WL MetaBox fields END*/
/*WL MetaBox repeats BEGIN*/
.WL-slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid #23282d;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.WL-title {
    border-bottom: 2px solid #23282d;
    box-sizing: border-box;
    width: 100%;
    background-color: #23282d;
    align-items: center;
    padding-left: 25px;
    padding-right: 10px;
}

.WL-title svg {
    cursor: pointer;
    float: right;
}

svg.show-slide {
    margin-top: 7px;
    margin-left: 13px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

svg.show-slide.active-rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

}

svg.delete-slide {
    margin-top: 7px;
}

.WL-content {
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
}

.WL-list p {
    font-size: 17px;
    min-width: 154px;
    display: inline-block;
}

.WL-list textarea {
    width: 100%;
    resize: none;
    height: 100px;
    outline: none;
}

.WL-list input[type=text] {
    width: 100%;
    outline: none;
}

.WL-add-slide {
    display: block;
    margin: 30px auto;
    width: 300px;
}

.WL-title p {
    font-size: 17px;
    margin: 10px 0;
    font-weight: bold;
    color: #fff;
    display: inline-block;
}

/*WL MetaBox repeats END*/

/*WL MetaBox field image BEGIN*/
.WL-content-image img {
    width: 100%;
}
/*WL MetaBox field image END*/
/*WL MetaBox Gallery BEGIN*/
.WL-gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 20px;
}

.WL-add-gallery-item {
    margin: 0 auto;
    display: block;
    width: 300px;
}

.WL-gallery-item {
    position: relative;
}

.WL-gallery-item img {
    width: 100%;
}

.WL-gallery-item svg {
    position: absolute;
    background-color: #fff;
    top: 5px;
    right: 5px;
    border-radius: 85px;
    padding: 5px;
    border: 1px solid #175642;
    cursor: pointer;
    display: none;
    transition: 0.3s
}

/*WL MetaBox Gallery END*/
.flex-banner .WL-list {
    display: flex;
    margin-bottom: 10px;
}

.ban-plus img {
    width: 200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 19px;
}

.ban-plus button,
.add_banner_style {
    width: 259px;
    display: block;
    border: none;
    background-color: #175642;
    outline: none;
    font-size: 15px;
    line-height: 34px;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 10px;
}

.add_banner_style {
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
}

.ban-content {
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
}
.ban-active .ban-content {
    display: block;
}

/*New Style Banner*/

.ban-title p {
    font-size: 17px;
    margin: 10px 0;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin-right: 15px;
}

.check-banner {
    background-color: #0073aa;
    color: white;
    font-size: 18px;
    text-align: center;
    max-width: 500px;
    line-height: 55px;
    margin: 0 auto;
}
.check-banner label{
    cursor: pointer;
    padding-right: 10px;
}
.check-banner input{
    margin-top: 3px;
}

.flex-admin {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.flex-admin label {
    min-width: 210px;
    font-size: 16px;
}

.flex-admin input[type=text],
.flex-admin textarea {
    width: 100%;
    resize: none;
}

.flex-admin .wp-editor-wrap {
    width: 100%;
}


.table-filial th,
.table-filial td,
.table-graphics th,
.table-graphics td  {
    border: 1px solid;
    font-size: 11px;
    width: 105px;
}

.table-filial td input,
.table-graphics td input {
    width: 100%;
}

.add-table-field-2,
.add-table-field,
.add-table-column,
.del-table-column {
    margin-top: 20px;
    width: 200px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    margin-right: 23px;
    border: none;
    background-color: #175642;
    outline: none;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}

.add-new-table,
add-new-table-man{
    margin-top: 20px;
    width: 100%;
    max-width: 716px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    margin-right: 23px;
    border: none;
    background-color: #175642;
    outline: none;
    font-size: 15px;
    line-height: 29px;
    color: #ffffff;
}

td.delete-field,
td.delete-field-2,
td.add-field-2 {
    width: 20px;
}

.delete-field-2 span,
.delete-field span,
.add-field-2 span {
    font-size: 22px;
    text-align: center;
    display: block;
    color: red;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.add-field-2 span {
    color: green;
    font-size: 30px;
}

.colspan-td input {
    text-align: center;
    background-color: #66ccff;
}

/*Gallery Meta Box*/
.item-gallery {
    position: relative;
    max-width: 100%;
}

.item-gallery img {
    width: 100%;
}

.item-gallery svg {
    position: absolute;
    background-color: #fff;
    top: 5px;
    right: 5px;
    border-radius: 85px;
    padding: 5px;
    border: 1px solid #175642;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}

.container-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 20px;
}

.search-container {
    position: relative;
}

.search-input {
    display: block;
    width: 100%;
    margin: 0;
}

.result-find {
    display: none;
    border: 1px solid #dddddd;
    position: absolute;
    width: 100%;
    top: 44px;
    background: #fff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 2;
    box-sizing: border-box;
}

.result-find p {
    margin: 0;
    padding: 8px 11px;
    cursor: pointer;
}

.result-find p.not-found {
    cursor: default;
}

.result-find p:not(.not-found):hover {
    background-color: #175642;
    color: #fff;
    transition: 0.1s;
}

.result-find p:last-child {
    border-bottom: none;
}

.remove-by {
    cursor: pointer;
}

.content-by div:last-child {
    border-bottom: none;
}

.single-by {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid;
}

.single-by p {
    margin: 0;
}

.content-by table {
    width: 100%;
    text-align: center;
    border: 1px solid #000;
}

.content-by table tr td:first-child {
    text-align: left;
    padding-left: 5px;
}

.content-by table td,
.content-by table th  {
    border: 1px solid #A6A6A6;
}

#products_section_id label {
    min-width: 160px;
    display: inline-block;
}

#products_section_filter_id select {
    width: 100%;
    margin-bottom: 15px;
}

.image-details .ban-plus button {
    margin: 10px auto;
}

.image-details h3 {
    text-align: center;
}