@import url("font-face.css");
@import url("icon-color.css");


.opati{
	display: -webkit-box;
	display: -moz-box;
	margin-right: 20px;
}

.opati div{
	margin-right: 10px;
}


.nav.nav-tabs.nav-tabs-horizontal a img {
    height: 159px;
}

.input-group.input-6 .input-group-addon {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 0.95em;
    font-weight: 400;
    display: block;
    padding-left: 0;
}


.col-sm-12.col-md-12.col-lg-12.col-margin {	
	width: 33%;
	float: left;
	padding: 0 15px;}


.input-group.input-6 {
	
	width: 33%;
	float: left;
	padding: 0 15px;
	
}

.tab-pane.active {
    min-height: 500px;
}

.row.row-rec.col-xs-12.col-sm-7.col-md-7.col-lg-9 {
    padding-top: 79px;
    position: relative;
    padding-left: 31px;
}

.row.row-rec.col-xs-12.col-sm-7.col-md-7.col-lg-9:before {
    content: "Основные параметры:";
    position: absolute;
    left: 44px;
    top: 25px;
    font-size: 1.2em;
    font-weight: 400;
}

.row.row-rec.col-xs-12.col-sm-7.col-md-7.col-lg-9 a.btn.btn-primary {
    margin-left: 16px;
    background: none!important;
    color: #1b6ac1!important;
    border: none!important;
    padding: 0!important;
    display: block;
    clear: both;
    padding-top: 20px!important;
    margin-bottom: 22px;
    text-decoration: underline;
    position: relative;
    margin-top: 20px!important;
}

.row.row-rec.col-xs-12.col-sm-7.col-md-7.col-lg-9 a.btn.btn-primary:focus, .row.row-rec.col-xs-12.col-sm-7.col-md-7.col-lg-9 a.btn.btn-primary:active {border: none!important;
	box-shadow: none!important;
	
}


.row.row-rec.col-xs-12.col-sm-7.col-md-7.col-lg-9 a.btn.btn-primary:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: calc(100% - 25px);
    height: 1px;
    background: #e1e1e1bd;
}

.row.row-rec.col-xs-12.col-sm-7.col-md-7.col-lg-9 p {
    clear: both!important;
    display: block!important;
    padding-top: 1px;
}



body {
	margin: 0;
	padding: 50px 0 0;
	font-family: Muller;
	font-weight: 400;
}

#content {
	z-index: 1;
	font-size: 1.2em;
}

#collection .nav>li>a:hover, #collection .nav>li>a:focus {
	background-color: transparent !important;
}

#tabs > li > a, #sidebar .nav-tabs li a {
	font-weight: 400;
	border-radius: 0;
	cursor: pointer;
	margin-right: 10px;
	background: #f9f9f9;
	border: 1px solid #e7e7e7;
	border-bottom: 0;
	padding: 8px 20px 7px;
}

#tabs > li.active > a {
	padding: 7px 20px 8px;
	border-top: 2px solid #2170d3 !important;
	background: #fff;
	/*cursor: default;*/
}

.panel {
	border: 0;
	box-shadow: none;
	margin: 15px 20px;
}

#size.panel, #painting.panel, #security.panel {
	margin: 15px 0 15px 20px;
}

#content > .tab-content {
	position: relative;
	border: 1px solid #e7e7e7;
	border-top: 0;
	background: #fff;
	-webkit-box-shadow: 1px 1px 32px 7px rgba(0,0,0,0.06);
	   -moz-box-shadow: 1px 1px 32px 7px rgba(0,0,0,0.06);
			box-shadow: 1px 1px 32px 7px rgba(0,0,0,0.06);
}

hr {
	margin-top: 0;
}

h4 {
	font-size: 1.2em;
	font-weight: 400;
}

.form-control::-webkit-input-placeholder {
	color: rgba(0,0,0,.44);
}
.form-control::-moz-placeholder          {
	color: rgba(0,0,0,.44);
}/* Firefox 19+ */
.form-control:-moz-placeholder           {
	color: rgba(0,0,0,.44);
}/* Firefox 18- */
.form-control:-ms-input-placeholder      {
	color: rgba(0,0,0,.44);
}
/**************************************************/
.tooltip-inner {
	max-width: 400px;
	padding: 10px 20px 6px;
	border: 1px solid rgba(204,204,204,0.4);
	font-size: 1.25em;
	line-height: 1.1em;
	font-weight: 400;
	-webkit-box-shadow: 2px 2px 9px 3px rgba(0,0,0,0.1);
	   -moz-box-shadow: 2px 2px 9px 3px rgba(0,0,0,0.1);
			box-shadow: 2px 2px 9px 3px rgba(0,0,0,0.1);
}

.tooltip-arrow {
	bottom: 1px !important;
}

.tooltip.info {
	margin-top: -20px;
}

#collection {
	/*font-size: 1.2em;*/
}

#collection ul {
	margin: 0;
	padding: 0;
}

#collection li {
	margin: 0;
	padding: 0;
}

#collection a {
	width: 40px;
	height: 40px;
	line-height: 46px;
	padding: 0;
	margin: 3px;
	text-align: center;
}

#collection a:hover {
	background: none;
	color: #2170d3;
}

#collection li.active a {
	background: #fff;
	color: #2170d3;
	font-weight: bold;
	pointer-events: none;
}

#collection li.active a:after {
	position: absolute;
	left: 10px;
	bottom: -12px;
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/active-collection.png) left bottom no-repeat;
}

#collection span.house {
	width: 46px;
	height: 46px;
	margin-left: 12px;
	float: left;
	background-image: url(../images/house-icon.png);
	background-position: center center;
	background-repeat: no-repeat;
}

#collection span.skyline {
	width: 46px;
	height: 46px;
	margin-left: 12px;
	float: left;
	background-image: url(../images/skyline-icon.png);
	background-position: center center;
	background-repeat: no-repeat;
}
/*********************************************************/
form[role="search"] {
	position: relative;
	min-width: 100%;
	margin:0;
	padding: 0;
}

form[role="search"]:before {
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	/*left: 20px;*/
	background: rgba(215,215,215,1);
	background: -moz-linear-gradient(top, rgba(215,215,215,1) 0%, rgba(255,255,255,0.77) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(215,215,215,1)), color-stop(100%, rgba(255,255,255,0.77)));
	background: -webkit-linear-gradient(top, rgba(215,215,215,1) 0%, rgba(255,255,255,0.77) 100%);
	background: -o-linear-gradient(top, rgba(215,215,215,1) 0%, rgba(255,255,255,0.77) 100%);
	background: -ms-linear-gradient(top, rgba(215,215,215,1) 0%, rgba(255,255,255,0.77) 100%);
	background: linear-gradient(to bottom, rgba(215,215,215,1) 0%, rgba(255,255,255,0.77) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#ffffff', GradientType=0 );
}

form[role="search"] input {
	width: 100% !important;
	height: 46px;
	padding: 6px 20px;
	border: 0;
	font-size: 1em;
	box-shadow: none !important;
}

form[role="search"] input::-webkit-input-placeholder {
	color: rgba(0,0,0,0.44);
	font-style: italic
}
form[role="search"] input::-moz-placeholder {
	color: rgba(0,0,0,0.44);
	font-style: italic
}/* Firefox 19+ */
form[role="search"] input:-moz-placeholder {
	color: rgba(0,0,0,0.44);
	font-style: italic
}/* Firefox 18- */
form[role="search"] input:-ms-input-placeholder {
	color: rgba(0,0,0,0.44);
	font-style: italic
}

form[role="search"] button {
	position: absolute;
	top: 0;
	right: 0px;
	width: 46px;
	height: 46px;
	border: 0;
	background: transparent url(../images/search.png) center center no-repeat !important;
	opacity: 0.24;
	border-radius: 0;
	-webkit-transition: opacity .1s ease-in-out;
	   -moz-transition: opacity .1s ease-in-out;
	    -ms-transition: opacity .1s ease-in-out;
	     -o-transition: opacity .1s ease-in-out;
	        transition: opacity .1s ease-in-out;
}

form[role="search"] button:hover {
	opacity: 0.44;
	-webkit-transition: opacity .1s ease-in-out;
	   -moz-transition: opacity .1s ease-in-out;
	    -ms-transition: opacity .1s ease-in-out;
	     -o-transition: opacity .1s ease-in-out;
	        transition: opacity .1s ease-in-out;
}
/**********************************************************/
#js_image_selection {
	position: relative;
}

#js_image_selection .scroller {
	position: absolute;
	top: 0;
	width: 20px;
	height: 100%;
	background-size: 200% auto;
	z-index: 1;
	cursor: pointer;
}

#js_image_selection .nav-tabs {
	border: 0;
}

#js_image_selection span {
	display: none;
}

#js_image_selection a {
	background: none;
	border: 0;
	opacity: 0.17;
	cursor: pointer;
	-webkit-transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	    -ms-transition: opacity .25s ease-in-out;
	     -o-transition: opacity .25s ease-in-out;
	        transition: opacity .25s ease-in-out;
}

#js_image_selection li:first-child a {
	margin-left: 5px;
}

#js_image_selection li:last-child a {
	margin-right: 5px;
}

#js_image_selection .zoom {
	width: 80px;
	/* width: 100%; */
	height: 30px;
	position: absolute;
	bottom: 20px;
	/* left: 0; */
	background: url(../images/zoom.png) center center no-repeat;
	background-size: auto 30px;
	display: none;
	opacity: 1;
	box-shadow: none !important;
	z-index: 1;
}
 #js_image_selection .opati:hover .zoom, #js_image_selection opati.active .zoom {
	display: block;
} 

#js_image_selection opati:hover a, #js_image_selection opati.active a {
	opacity: 1;
	-webkit-transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	    -ms-transition: opacity .25s ease-in-out;
	     -o-transition: opacity .25s ease-in-out;
	        transition: opacity .25s ease-in-out;
}


#js_image_selection .arrow-left {
	left: 0;
	background: #fff url(../images/left-right-arrow.png) left center no-repeat;
}

#js_image_selection .arrow-right {
	right: 0;
	background: #fff url(../images/left-right-arrow.png) right center no-repeat;
}

#js_image_selection .scroller.disabled {
	pointer-events: none;
	opacity: 0.5;
}

#js_image_selection .arrow-left:not(.hide) ~ .horizontal-tabs {
	padding-left: 20px;
}

#size {
	background: rgba(24,107,210,0.05);
}

#size input {
	padding: 6px;
	/*background: rgba(24,107,210,0.05);*/
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.05);
	   -moz-box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.05);
			box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.05);
}

.input-group {
	margin: 0 0 10px;
}

.input-group-addon {
	font-size: 0.9em;
	padding: 6px;
	background: none !important;
	border: 0 !important;
	color: #737373;
}

.input-group-addon:first-child {
	width: 80px;
	text-align: right;
	color: #000;
}

#painting {
	background: #f6f4d9;
}

#painting span, .btn-group.color span {
	overflow: visible;
	padding-left: 28px;
}

.btn-group.color span {
	padding-left: 20px;
}

#painting small, .btn-group.color small {
	position: absolute;
	top: -3px;
	left: -8px;
	width: 25px;
	height: 25px;
	color: transparent;
	padding: 0;
	border-radius: 3px;
}


div#collapseExample .card.card-body:after{
	
	content: "";
	display: block;
	clear: both!important;
	
	
}


form#filter_parametrs {
    overflow: hidden;
}


div#collapseExample .card.card-body:before{
	
	content: "";
	display: block;
	clear: both!important;
	
	
}


div#doorselect .btn-group.bootstrap-select {
    max-width: 230px;
}



.btn-group.bootstrap-select.open {    max-width: 230px;}

.btn-group.color small {
	top: 3px;
	left: 3px;
}

.bootstrap-select {
	width: 100% !important;

	background: #fff;
}

.bootstrap-select a {
	/*font-size: 1.2em;*/
	height: 31px;
}

.bootstrap-select li:not(.selected) a:hover,
.bootstrap-select li:not(.selected) a:focus {
	color: #000 !important;
	background-color: #f1f1f1 !important;
}

.bootstrap-select:not(.color) a {
	padding: 3px 10px;
}

.bootstrap-select button.disabled {
	background: linear-gradient(-45deg, #fff 49%, #000 49%, #000 49%, #fff 50% );
	background-size: 8px 8px;
	cursor: default !important;
}

.toggle[disabled], .disabled {
	pointer-events: none !important;
}

.bootstrap-select button {
	background: rgba(215,215,215,0.12);
	background: -moz-linear-gradient(top, rgba(215,215,215,0.12) 0%, rgba(255,255,255,0.77) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(215,215,215,1)), color-stop(100%, rgba(255,255,255,0.77)));
	background: -webkit-linear-gradient(top, rgba(215,215,215,0.12) 0%, rgba(255,255,255,0.77) 100%);
	background: -o-linear-gradient(top, rgba(215,215,215,0.12) 0%, rgba(255,255,255,0.77) 100%);
	background: -ms-linear-gradient(top, rgba(215,215,215,0.12) 0%, rgba(255,255,255,0.77) 100%);
	background: linear-gradient(to bottom, rgba(215,215,215,0.12) 0%, rgba(255,255,255,0.77) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#ffffff', GradientType=0 );
}

.bootstrap-select button[aria-expanded="true"],
.bootstrap-select button:hover {
	background-color: #fff !important;
}

.bootstrap-select span {
	font-size: 1.2em;
	line-height: 24px;
}

#select-type.col-margin {
	margin: 4px 0 6px;
}

.bootstrap-select .caret {
	width: 32px;
	height: 32px;
	top: 0 !important;
	right: 0 !important;
	border: 0;
	background: url(../images/caret.png) center center no-repeat;
}

#security {
	background: rgba(6,163,61,0.05);
}

label {
	font-size: 0.95em;
	font-weight: 400;
	display: block;
}

#painting label {
	font-size: 0.9em;
}
/*****************************************/

.nav-justified {
	margin-top: -10px;
	background: #f1f1f1;
	border-radius: 10px !important;
	-webkit-box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.07);
	   -moz-box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.07);
			box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.07);
}

.nav-justified a {
	height: 33px !important;
	padding: 0 !important;
	line-height: 36px !important;
	border-radius: 10px !important;
	border: 1px solid transparent;
	color: #858585;
}

.nav-justified .active a:not(:hover) {
	background-color: #fff !important;
	border: 1px solid #2170d3;
	color: #2170d3 !important;
	-webkit-box-shadow: 0px 0px 7px 3px rgba(24,107,210,0.06);
	   -moz-box-shadow: 0px 0px 7px 3px rgba(24,107,210,0.06);
			box-shadow: 0px 0px 7px 3px rgba(24,107,210,0.06);
}

.nav-justified {
}

.nav-justified li:not(.active) a:hover {
	color: #2170d3;
	background-color: transparent !important;
}

.tab-select-type {
	border: 0;
}
/*****************************************/
hr.separator {
	margin: 0 40px;
}
/*****************************************/
.col-margin {
	margin: 15px auto;
}
/*****************************************/

.toggle.ios {
	width: 50px;
	min-width: 50px;
	height: 30px;
	min-height: 30px;
	padding: 0;
	border-radius: 15px;
	background: #f1f1f1 !important;
	border: 0;
	margin: 3px 20px 10px 0;
	float: left;
	-webkit-box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.07);
	   -moz-box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.07);
			box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.07);
}

.toggle-group {
	width: 72px;
	height: 22px;
	top: 4px;
}

.toggle.off .toggle-group {
	left: -22px;
}

.toggle.ios .toggle-handle, .toggle-on.ios .toggle-handle {
	width: 22px;
	height: 22px;
	border-radius: 12px; 
	padding: 0;
	border: 0;
	background: #23b846 !important;
}

.toggle.on.ios .toggle-handle{
	background: #23b846;
}

.toggle.off.ios .toggle-handle{
	background: #a0a0a0 !important;
}

.toggle.ios + input, .toggle.ios + button {
	font-size: 0.9em;
	width: 130px;
	text-align: left;
}
/***************************************************/
.right-icon, .top-icon, .left-icon, .bottom-icon {
	position: relative;
}

.right-icon:before {
	content: "";
	display: block;
	width: 11px;
	height: 21px;
	position: absolute;
	bottom: 6px;
	left: 70px;
	background: #e3e3e3;
}

.right-icon:after {
	content: "";
	display: block;
	width: 2px;
	height: 21px;
	position: absolute;
	bottom: 6px;
	left: 81px;
	background: #797979;
}

.top-icon:before {
	content: "";
	display: block;
	width: 13px;
	height: 2px;
	position: absolute;
	bottom: 25px;
	left: 70px;
	background: #797979;
}

.top-icon:after {
	content: "";
	display: block;
	width: 13px;
	height: 19px;
	position: absolute;
	bottom: 6px;
	left: 70px;
	background: #e3e3e3;
}

.left-icon:before {
	content: "";
	display: block;
	width: 2px;
	height: 21px;
	position: absolute;
	bottom: 9px;
	left: 70px;
	background: #797979;
}

.left-icon:after {
	content: "";
	display: block;
	width: 11px;
	height: 21px;
	position: absolute;
	bottom: 9px;
	left: 72px;
	background: #e3e3e3;
}

.bottom-icon:before {
	content: "";
	display: block;
	width: 13px;
	height: 19px;
	position: absolute;
	bottom: 8px;
	left: 70px;
	background: #e3e3e3;
}

.bottom-icon:after {
	content: "";
	display: block;
	width: 13px;
	height: 2px;
	position: absolute;
	bottom: 6px;
	left: 70px;
	background: #797979;
}
/***************************************************/
#sidebar {
	padding: 0;
	margin-left: -15px;
	z-index: 0;
	height: 100%;
	font-size: 1.2em;
}

#sidebar .badge {
	font-size: 1em;
	padding: 0;
	background: none;
}

#sidebar .tab-content {
	padding: 0 15px 0 20px;
	border: 1px solid #2271d4;
	border-left: 0;
	border-bottom: 0;
	overflow-y: scroll;
	-ms-overflow-style: none;
	background: #fff;
}

#sidebar .tab-content::-webkit-scrollbar {
	width: 0;
}

#sidebar h4 {
	margin: 20px 0;
	padding: 0;
	font-size: 1.35em;
}

#sidebar h5 {
	margin: 15px 0;
	padding: 0;
	font-weight: 400;
	font-size: 1.25em;
}

.preview {
	width: 90px;
	height: auto;
	float: left;
	margin-right: 25px;
}

.title, .descr {
	display: block;
	margin-bottom: 10px;
}

.descr {
	font-size: 0.9em;
	line-height: 1.1em;
	margin-bottom: 15px;
}

.title {
	font-size: 1.2em;
	font-weight: 600;
}

.title span {
	text-transform: uppercase;
}

.preview {
	position: relative;
}

.preview .zoom {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 10px;
	left: 0;
	background: url(../images/zoom.png) center center no-repeat;
	background-size: auto 40px;
	opacity: 0.5;
	box-shadow: none !important;
}

.preview .zoom:hover {
	opacity: 1;
}

.preview img {
	width: 90px;
	height: auto;
}

.info {
	font-size: 0.9em;
	color: #787878;
}

.price {
	font-size: 2em;
	font-weight: 300;
	color: #2271d4;
}

.price:after {
	content: " BYN";
}

button.info {
	width: 20px;
	height: 20px;
	padding: 0;
	border: 0;
	outline: none !important;
	background: url(../images/info.png) !important;
	background-color: transparent !important;
	opacity: 0.15;
	position: relative;
	top: -2px;
}

button.info:hover {
	opacity: 0.3;
}

#sidebar .add-to-cart,
#sidebar .send {
	width: 50%;
	height: 55px;
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 0;
	line-height: 62.5px;
	font-size: 0.9em;
	font-weight: 600;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	z-index: 1;
	outline: none !important;
}

.add-to-cart {
	background: #e8e8e8;
	color: #2271d4 !important;
	left: 0;
}

.add-to-cart:hover {
	background: #d8d8d8;
}

.send {
	background: #2271d4;
	color: #fff;
	right: 0;
}

.send .badge {
	padding: 0;
	background: none;
	color: #fff;
}

#sidebar h5 ~ div {
	margin-bottom: 5px;
}

#sidebar label {
	color: #737373;
	float: left;
	margin: 0 5px 0 0;
	font-size: 1em;
}

#sidebar label + span {
	font-size: 1em;
}

#sidebar .calculate {
	padding-bottom: 60px;
}

#cart .panel {
	margin: 0 -15px 0 -20px;
	padding: 0 10px;
	background: transparent;
}

#cart .panel-body {
	height: 215px;
	margin: 5px 0;
	padding: 10px;
	border-radius: 4px !important;
	overflow: hidden;
	background: transparent;
	position: relative;
}

#cart .panel-body:hover {
	cursor: default;
	background: #fff;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.07);
	   -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.07);
			box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.07);
}

#cart .item {
	/*height: 225px;*/
	/*overflow: hidden;*/
}

#cart .item:last-child {
	margin-bottom: 60px;
}

#cart .item button.close {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	background: url(../images/del.png) center center no-repeat;
	background-size: 100%;
	opacity: 1;
	outline: none !important;
}

#cart .item button.show-panel {
	position: absolute;
	bottom: 5px;
	right: 5px;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none !important;
    background: url(../images/open.png);
}
/***************************************************/
.modal-dialog {
	width: 400px;
	left: 50%;
	margin-left: -200px;
	top: 50%;
	margin-top: -300px;
}

.modal-content {
	height: 600px;
	padding: 30px;
	border: 0;
	border-radius: 0;
}

.modal-content .close {
	width: 22px;
	height: 22px;
	background: url(../images/cross-out.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
	top: -29px;
	right: -29px;
	opacity: 0.75;
	outline: none;
}

.modal-content .close:hover {
	opacity: 1;
}

.modal-content img {
	display: block;
	position: relative;
	left: 50%;
	margin-left: -115px;
	width: 230px;
	height: auto;
}

.modal-content span {
	font-size: 2em;
	line-height: 1em;
	text-transform: uppercase;
	position: absolute;
	left: 30px;
	bottom: 30px;
}
/***************************************************/

@media screen and (max-width: 767px) {
	#painting.panel {
		margin: 15px 20px 15px 0;
	}

	#security.panel {
		margin: 15px 20px;
	}
}

@media screen and (max-width: 579px) {
	form .row > div:first-child .col-xs-6 {
		width: 100%;
	}

	#size.panel, #painting.panel {
		margin: 15px 20px;
	}
}

#kayzp_search{
	position: absolute;
	background: #fff;
	width: 100%;
	list-style: none;
	width: 100%;
	z-index: 999;
	border: 1px solid #ddd;
	display: none;
}

#kayzp_search li{
	cursor: pointer;
	border: 1px solid #ddd;
	padding: 10px!important;
	display: none;
}