@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerThin.otf") format("opentype");
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerThinItalic.otf") format("opentype");
	font-style: italic;
	font-weight: 100;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerUltraLight.otf") format("opentype");
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerUltraLightItalic.otf") format("opentype");
	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerLight.otf") format("opentype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerLightItalic.otf") format("opentype");
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerRegular.otf") format("opentype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerRegularItalic.otf") format("opentype");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerMedium.otf") format("opentype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerMediumItalic.otf") format("opentype");
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerBold.otf") format("opentype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerBoldItalic.otf") format("opentype");
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerExtraBold.otf") format("opentype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerExtraBoldItalic.otf") format("opentype");
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerBlack.otf") format("opentype");
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerBlackItalic.otf") format("opentype");
	font-style: italic;
	font-weight: 800;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerHeavy.otf") format("opentype");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller/MullerHeavyItalic.otf") format("opentype");
	font-style: italic;
	font-weight: 900;
}